/*Flexbox*/
.album-container{
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 40px;
}

/* POLAROID */
.polaroid {
  display: flex;
  background: #f7f3ea;
  padding: 14px 14px 30px;
  border-radius: 0;
  margin: 0 0 10px 0;
  width: fit-content;
  box-shadow: 0 8px 18px rgba(0,0,0,0.25);

  /* animasi */
  opacity: 0;
  transform: translateY(40px);
  transition: 2s;
}

.polaroid.show {
  opacity: 1;
  transform: translateY(0);
}

/* AREA FOTO */
.slideshow-container {
  width: 320px;
  height: 320px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;               /* ← LANCIP */
  background: #ddd;
}

/* FOTO */
.slide {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;               /* ← LANCIP */
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
}

.slide.active {
  opacity: 1;
}

@media (max-width: 768px){
  .slideshow-container{
    max-width: 240px;
    max-height: 240px;
    
  }
}

.sponsor-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 1em;

  max-width: 700px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.sponsor-card {
  background: rgba(189, 179, 179, 0.178);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(189, 179, 179, 0.5);
  border-radius: 15px;

  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsor-card img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.sponsor-isi{
  padding: 5px;
}

@media (max-width: 580px) {
  .sponsor-grid {
    grid-template-columns: repeat(auto-fit, minmax(62px, 1fr));
    gap: 1em;
  }
  #Sponsor h2{
  font-size: 20px;
}
}

