    body {
      margin: 0;
      background: transparent;
    }

    /* Area supaya pas di layar */
    .section {
    /* HAPUS height:100vh */
    display: flex;
    align-items: center;
    justify-content: center;
    }

.section-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  
  margin: 80px auto;      /* samakan dengan .content */
  max-width: 900px;
  padding: 0 20px;
}

.card{
  display: flex;
  flex-direction: column;
  background: white;
  padding: 25px;
  border-radius: 20px;
  width: 380px;
  height: 480px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
  justify-content: center;
  align-items: center;
}

.card:hover{
  transform: translateY(-8px);
}


    .card img {
      width: 350px;            /* ukuran gambar */
      height: auto;
      margin-bottom: 15px;
    }

    .card h3 {
      font-size: 30px;
      margin-bottom: 10px;
      font-weight: 400;
    }

    .card .btn {
      display: flex;
      text-decoration: none;
      padding: 10px 80px;
      margin: 5px;
      border-radius: 80px;
      font-weight: 500;
      color: white;
      transition: all 0.3s;
    }

    /* warna tombol berbeda */
    .card .btn.orange {
      background: linear-gradient(
    -170deg,
    #ffd89b,
    #fcc40b,
    #ffbb5d
  );
  border: 0.3px solid #ffbc5d44;
}

    .card .btn.maroon {
      background: linear-gradient(
    140deg,
    #ff8777,
    #be2530,
    #a50c16
  );
      margin-bottom: 50px;
      text-align: center;
      white-space: nowrap;
      border: 1px solid #d3303bb4;
    }

    .card .btn:hover {
      opacity: 0.8;
    }

/* responsive: HP stack vertikal */
@media (max-width: 768px){

  .section-cards{
    gap: 25px;
  }

  .card{
    width: 100%;
    max-width: 320px;
  }
  .card img{

    max-width: 280px;
  }
  
}

@media (max-width: 360px){
  .card .btn{
    padding: 10px 4.2rem;
  }
}

    /* Gambar awal (belum muncul) */
.animated-img {
  opacity: 0;
  transform: translateY(40px);
  transition: 2s;
}

    /* Saat sudah muncul */
    .animated-img.show {
      opacity: 1;
      transform: translateY(0);
    }
 

.poster {
  max-width: 1100px;

}

.timeline-grid{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 40px auto;
  padding: 60px 20px;
  background: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
  justify-content: center;
  align-content: center;
  width: fit-content;
}

/* ROW TIMELINE */
.timeline-row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr auto;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 50px;
}

/* STEP */
.step {
  text-align: center;
}

/* PILL */
.date {
  display: inline-block;
  padding: 12px 28px;
  background: linear-gradient(180deg, #5A0006, #77181e);
  color: white;
  border-radius: 999px;
  font-weight: 700;
  box-shadow: 0 4px 12px rgba(0,0,0,.15);
  margin-bottom: 12px;
  font-size: 0.9rem;
  white-space: nowrap;
  font-family: 'Cinzel Decorative';
}

/* TITLE */
.title {
  font-weight: 700;
  color: #5A0006;
  font-size: 0.95rem;
  font-family: 'El Messiri';
}


/* ARROW */
.arrow {
  font-size: 28px;
  color: #5A0006;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  
}

.timeline-row:nth-child(2) .arrow{
  position: relative;
  width: 182px;
  height: 5px;
  background:
  repeating-linear-gradient(
    to right,
    #5A0006 0 8px,
    transparent 8px 14px
  );
  align-self: center;
}


.timeline-row:nth-child(2) .arrow::after{
  content: "";
  position: absolute;
  right: -2px;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  width: 10px;
  height: 10px;
  border-right: 3px solid #5A0006;
  border-bottom: 3px solid #5A0006;
  align-self: center;
}

/* MOBILE */
@media (max-width: 1024px){
  .timeline-row{
    grid-auto-flow: row;
    justify-items: center;
    gap: 5px;
    margin:0;
    
  }
  .timeline-row:first-child .step:nth-child(5) .title {
  margin-bottom: 10px;
}
  .arrow{
    display: none;
  }
  .timeline-grid{
    padding: 60px 10px 60px 10px;
  }
}

.prize-section{

}

.prize-grid{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 600px));
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  gap: 3em;
  justify-content: center;
  align-content: center;

}

.prize-isi{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  padding: 20px;
}

.prize-card{
 background: white;

  border-radius: 20px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.11);
  transition: 0.3s;
}