    body {
      margin: 0;
      background: transparent;
    }

    /* Area supaya pas di layar */
    .section {
    /* HAPUS height:100vh */
    display: flex;
    align-items: center;
    justify-content: center;
    }

.section-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  
  margin: 80px auto;      /* samakan dengan .content */
  max-width: 900px;
  padding: 0 20px;
}

.card{
  display: flex;
  flex-direction: column;
  background: white;
  padding: 25px;
  border-radius: 20px;
  width: 380px;
  height: 480px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
  justify-content: center;
  align-items: center;
}

.card:hover{
  transform: translateY(-8px);
}


    .card img {
      width: 350px;            /* ukuran gambar */
      height: auto;
      margin-bottom: 15px;
    }

    .card h3 {
      font-size: 30px;
      margin-bottom: 10px;
      font-weight: 400;
    }

    .card .btn {
      display: inline-block;
      text-decoration: none;
      padding: 10px 80px;
      margin: 5px 0;
      border-radius: 20px;
      font-weight: 500;
      color: white;
      transition: all 0.3s;
    }

    /* warna tombol berbeda */
    .card .btn.orange {
      background: orange;
    }

    .card .btn.maroon {
      background: maroon;
      margin-bottom:5px;
    }

    .card .btn:hover {
      opacity: 0.8;
    }

/* responsive: HP stack vertikal */
@media (max-width: 768px){

  .section-cards{
    gap: 25px;
  }

  .card{
    width: 100%;
    max-width: 320px;
  }

}

    /* Gambar awal (belum muncul) */
.animated-img {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s;
}

    /* Saat sudah muncul */
    .animated-img.show {
      opacity: 1;
      transform: translateY(0);
    }
